h1 {
	font-family: cursive;
	color: darkblue;
	font-size: 30px;
	text-transform: capitalize;
	text-align: center;
}
#row {
	width: 100%;
	margin: none;
}
p {
	width:98%;
	height: 200px;
	margin-right: auto;
	margin-left: auto;
	border: 3px solid black;
	font-family: helvetica;
	color:blue;
	text-align: justify;
	padding: 9px;
	color: #8B0000;
	background-color: #FAEBD7;
	box-sizing: border-box;
	

}
span {
	float: right;
	border: 2px solid black;
	padding: 2px solid #000000;
	color: #000000;
	clear: both;
	margin-top: -10px;
	margin-right: -10px;
	font-family: cursive;
	font-size: 17px;
	text-transform: capitalize;

}
#chicken {
	background-color: #9370D8;
}
#beef {
	background-color: #BA55D3;
}
#chips {
	background-color: #DA70D6;
}
@media ( min-width: 992px) {
.lg-screen {
	float: left;
	border: 1px solid green;
	width: 33%;
	
}

}
@media (min-width: 768px) and (max-width: 991px) {
	.md-screen {
		float: left;
		border: 1px solid green;
		width: 49%;
		
	}
	.smm-screen {
		float: left;
		border: 1px solid green;
		width: 99%;
		
	}
}

@media (min-width: 200px) and (max-width: 767px){
	.sm-screen {
		border: 1px solid green;
		width: 98%;
		
	}
}

	